{% extends 'cases/base.html' %}

{% block title %}Case Info{% endblock %}

{% block header %} Your Matches{% endblock %}


{% block content %} 

<div class="row">
	<div class="col-lg-11 col-offset-1 col-12">
		<div class="row">
			<div class="col-lg-11 col-12">
				<div class="alert">
					<h3> This is a potential match for your case with GeneYenta ID: {{user_patient.id}} (Private ID: {{user_patient.private_id}}) </h3>
				</div>
			</div>
			
		</div>

	<div id="content-row" class="row">
		<div id="contact-info" class="col-lg-4 col-12">
			<h4>Matched Clinician's Contact Info.</h4>
			<dl class="dl-horizontal">
	  			<dt>Name: </dt>
	  			<dd>{{other_user.salutation}} {{other_user.first_name}} {{other_user.last_name}}</dd>
	  			<dt>Email:</dt>
	  			<dd>{{other_user.email}}</dd>
	  			<dt>Institute:</dt>
	  			<dd>{{other_user.institute}}</dd>
	  			<dt>Location:</dt>
	  			<dd>
	  				<p>
	  				{{other_user.address1}}
	  				</br>{{other_user.address2}}, {{other_user.postal_code}}
	  				</br>{{other_user.city}},{{other_user.country}}
	  				</p>
	  			</dd>
	  			<dt>Area of Specialty:</dt></br>
	  			<p class="research-focus-detail">{{other_user.description}}</p>
			</dl>
		</div>
		<div id="match_case_summary" class="col-lg-7 col-12">
			<h4> Matched Patient's Information </h4>
			<dl class="dl-horizontal">
				<dt>GeneYenta ID:</dt>
				<dd>{{other_patient.id}}</dd>
				<dt>Clinic:</dt>
				<dd>{{other_patient.clinic}}</dd>
				<dt>Gender:</dt>
				<dd>{{other_patient.gender}}</dd>
				<dt>First Appointment Date:</dt>
				<dd>
					{{other_patient.first_appointment_month}}, {{other_patient.first_appointment_year}}
				</dd>
				<dt> Age at Appointment: </dt>
				<dd>	
					{{other_patient.first_appointment_age}}
				</dd>
				<dt>Case Last Modified:</dt>
				<dd>{{other_patient.last_modified}}</dd>
			</dl>
			<h4>Matched Patient's Case Summary</h4>
			<p class="summary">{{other_patient.case_summary}}</p>		
		</div>
	</div>

	<div id="bottom-content" class="row">
		<div class="col-lg-10 col-12">
			<h4>Phenotype Tag Summary</h4>
			<table class="sortable table table-bordered table-condensed">	
	            <thead>
	                <tr>
	                  	<th>Description</th>
	                  	<th>Your Importance Rating</th>
	                	<th>{{other_user.salutation}} {{other_user.first_name}} {{other_user.last_name}}'s Importance Rating</th>
	            	 </tr>
	          	</thead>
			{% for p in phenotypes %}
				<tr class="{{p.html_class}}">
					<td>{{p.name}}</td>
					<td>{{p.user_rating}}</td>
					<td>{{p.other_rating}}</td>
				</tr>
			{% endfor %}

			</table>
	</div>
</div>
	
<div class="col-offset-3 col-lg-4 col-12" style="margin-bottom: 30px;">
	<button onclick="show_modal('#user_summary')" class="btn btn-info">
		Review Your Case Summary
	</button>
	<button onclick="show_modal('#add_notes')" class="btn btn-danger">Add Notes</button>
</div>
{% ssi "/apps/GeneYenta/matches/templates/matches/match-detail-modal.html" parsed %}

{% ssi "/apps/GeneYenta/matches/templates/matches/add-notes-modal.html" parsed %}

</div>

{% endblock %}

{% block endbody %}

<script src="{{ STATIC_URL }}cases/dynatree/jquery/jquery.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}cases/js/bootstrap.js"></script>
<script src="{{STATIC_URL}}cases/js/sorttable.js"></script>

<script type="text/javascript">
		function show_modal(id){
			$(id).modal('show');
		}
</script>

{% endblock %}

