{% extends 'cases/base.html' %}

{% block title %}GeneYenta Matches{% endblock %}

{% block header %}Your Matches{% endblock %}

{% block content %} 

<div class="row">
	<div class="col-9">
	</div>
	<div class="col-3">
		<a class="btn btn-success" href="#">Find More Matches</a>
	</div>
</div>

<div class="row">
	<div class="col-lg-10 col-offset-1 col-12">

{% if match_dict %}
	{% for patient_key, match_list in match_dict.items %}
		<h4>Matches for Patient #{{patient_key}}</h4>

		<ul>
			{% for m in match_list %}
			<li>
				<a href="{% url 'matches.views.match_detail' m.id %}">More info</a> <span>SCORE: {{m.score}}  LAST MATCHED:  {{m.last_matched}}</span>
			</li>	
			{% endfor %}
		</ul>

	{% endfor %}

{% else %}
	<h4>There are no matches to display for your active cases.</h4>
	<h5>Please note, if a case has been archived, you will not receive notifications of any potential matches for that case.</br> After unarchiving this case, all potential matches will be visible.</h5> 
	</div>
</div>
{% endif %}

<!--
<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo">
  simple collapsible
</button>

<div id="demo" class="collapse in">herro</div>
-->


{% endblock %}




{% block endbody %}

<script src="{{STATIC_URL}}cases/js/sorttable.js"></script>
{% endblock %}





