{% extends 'cases/base.html' %}

{% block title %}GeneYenta Archives{% endblock %}

{% block header %}Archived Cases{% endblock %}

{% block content %}
<form name='unarchive-form' id="form" method="POST">
		{% csrf_token %}

<div class="row">
	<div class="col-lg-10 col-offset-1 col-12">
		{% if patients %}
		<small>Click table headers to sort</small>
		<table class="sortable table table-condensed">	
            <thead>
                <tr>
                	<th>Unarchive?</th>
                	<th></th>
                  	<th>Private Identifier</th>
                  	<th>System ID</th>
                  	<th>Clinic</th>
                	<th>Institute</th>
                	<th>Year of First Appt.</th>
            	 </tr>
          	</thead>
			{% for p in patients %}
				<tr>
					<td><input type="checkbox" name="unarchive" id="option{{p.id}}" value="{{p.id}}"/></td>
					<td>
						<a href="{% url 'cases.views.patient_detail' p.id %}"> More Info 
						</a>
					</td>
					<td>{{p.private_id}}</td>
					<td>{{p.id}}</td>
					<td>{{p.clinic}}</td>
					<td>{{p.institute}}</td>
					<td>{{p.first_appointment_year}}</td>
				</tr>
			{% endfor %}
		</table>
<div class="row">
	<div class="col-lg-2 col-offset-5 col-12">
		<input class="btn btn-default" type="submit" value="Unarchive Selected Cases"/>	
	</div>

</div>

	</form>
		{% else %}
		<h4>There are no archived cases to display.</h4>
		{% endif %}
	</div>
</div>


{% endblock %}

{% block endbody %}
<script src="{{STATIC_URL}}cases/js/sorttable.js"></script>
{% endblock %}