<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <!-- Bootstrap includes -->
  <link href="{{STATIC_URL}}cases/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="{{STATIC_URL}}cases/css/custom.css" rel="stylesheet" media="screen">
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
<!-- we want to force people to click a button, so hide the close link in the toolbar -->
<style type="text/css">a.ui-dialog-titlebar-close { display:none }</style>
</head>

<body>
<div class="row">
  <div class=" col-lg-4 col-offset-1">
    <h1>GeneYenta</h1>
   </div>
   <div class="col-lg-4 pull-right" style="color:red;font-size:19px;width:322px;">Warning: This site is not secure. Please use with caution.</div>
</div>

<!-- navbar urls -->
{% url 'matches.views.view_matches' as matches %}
{% url 'cases.views.view_cases' as cases %}
{% url 'cases.views.archives' as archives %}
{% url 'cases.views.settings' as settings %}
{% url 'django.contrib.auth.views.logout' as logout %}   
<!-- /navbar urls -->


{% block sidebar %}   
<!-- top-navigation -->    
<div class="row">
<div id="top-navigation">
    <div class="navbar">  
        <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a id="top-navigation-brand" href="#" class="navbar-brand" style="background: black;color: white;">
                    {% block header %} {% endblock %}
        </a>      
           
            <div class="nav-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li id="view-matches-tab"><a href="{{matches}}">Matches</a></li>
                    <li id="view-cases-tab"><a href="{{cases}}">Cases</a></li>
                    <li id="archives-tab"><a href="{{archives}}">Archives</a></li>
                    <li id="settings-tab"><a href="{{settings}}">Settings</a></li>
                    <li><p class="navbar-text" style="margin-left:30px;"> Signed in as {{user.username}}</p></li>
                    <li id="contact-us-tab"><a href="{% url 'contact_us'%}">Contact Us</a></li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                     <li><a href="{{logout}}" >Logout</a></li> 
				</ul>
            </div>          
        </div>  
    </div>
</div> <!-- /#top-navigation -->
</div>   
 
{% endblock %}
    

<div class="row">
    <div class="col-offset-1 col-lg-10 col-sm-10 col-12">
        {% if messages %} 
            {% for message in messages %} 
            <div id='messages' class="{{message.tags}}">
              <p>{{message}}</p> 
            </div>
            {% endfor %} 
        {% endif %} 
    </div>
</div>

<!-- this is breaking the dynatree if it is included anywhere else
must be fixed... 
 -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% block content %}
{% endblock %}


{% block endbody %}
{% endblock %}

<!-- dialog window markup -->
<div id="dialog" title="Your session is about to expire!">
	<p>
		<span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 50px 0;"></span>
		You will be logged off in <span id="dialog-countdown" style="font-weight:bold"></span> seconds.
	</p>

	<p>Do you want to continue your session?</p>
</div>

<div class="endbody-padding"></div>
<script src="{{STATIC_URL}}cases/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script src="{{STATIC_URL}}cases/js/jquery.idletimeout.js"></script>
<script src="{{STATIC_URL}}cases/js/jquery.idletimer.js"></script>
<script type="text/javascript">
	var pathname = window.location.pathname.split('/').filter(function(v){return v!==''});
	var cur_page_last = pathname[pathname.length-1]+'-tab'
	var cur_page_first = 'view-'+pathname[0]+'-tab'
	var find_id_last = $('#'+cur_page_last)
	var find_id_first = $('#'+cur_page_first)
	if(find_id_last.length>0){
		find_id_last.addClass('active');
	}else if(find_id_first.length>0&&cur_page_last!='change-password-tab'&&cur_page_last!='profile-edit-tab'){
		find_id_first.addClass('active');
	}else{
		$('#settings-tab').addClass('active');
	}
	
</script>

<script type="text/javascript">
// setup the dialog
$("#dialog").dialog({
	autoOpen: false,
	modal: true,
	width: 400,
	height: 200,
	closeOnEscape: false,
	draggable: false,
	resizable: false,
	buttons: {
		'Yes, Keep Working': function(){
			$(this).dialog('close');
		},
		'No, Logoff': function(){
			// fire whatever the configured onTimeout callback is.
			// using .call(this) keeps the default behavior of "this" being the warning
			// element (the dialog in this case) inside the callback.
			$.idleTimeout.options.onTimeout.call(this);
		}
	}
});

// cache a reference to the countdown element so we don't have to query the DOM for it on each ping.
var $countdown = $("#dialog-countdown");

// start the idle timer plugin
$.idleTimeout('#dialog', 'div.ui-dialog-buttonpane button:first', {
	warningLength: 300,
	idleAfter: 1500,
	pollingInterval: 60,
	keepAliveURL: '/cases/keep-session-alive',
	serverResponseEquals: 'OK',
	onTimeout: function(){
		window.location = "/accounts/logout";
	},
	onIdle: function(){
		$(this).dialog("open");
	},
	onCountdown: function(counter){
		$countdown.html(counter); // update the counter
	}
});

</script>

</body>
</html>
