{% extends 'cases/base.html' %}

{% block title %}GeneYenta Edit Profile{% endblock %}

{% block header %} Edit your user profile{% endblock %}


{% block content %}
<div class="row">
<div class="col-lg-11 col-offset-1 col-12">
<h4>Please use the following form to change your GeneYenta password.</h4>
<form method="post" action="{% url 'django.contrib.auth.views.password_change' %}">
{% csrf_token %}
{{form.as_p}}

<input class="btn btn-default" type="submit" value="Submit" />
<input type="hidden" name="next" value="{{ next }}" />

</form>
</div>
</div>

{% endblock %}