{% extends 'cases/base.html' %}

{% block title %}GeneYenta Settings{% endblock %}

{% block header %}Your Settings{% endblock %}


{% block content %}
<div class="row">
<div class="col-lg-11 col-offset-1 col-12"> 
	<h4>Settings Directory</h4>
	<p>
		Please choose from the list of options below:
	</p>
	<ul>
		<li>
			<a href="{% url 'cases.views.profile_edit' user.clinician.id %}">
				Edit your contact information
			</a>
		</li>
		<li>
			<a href="{% url 'change_password' %}">
				Change your password
			</a>
		</li>
	</ul>

</div>
</div>
{% endblock %}