<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2>GeneYenta Password Change Page</h2>
{% if form.errors %}
	{% if not user.is_active %}
	<p> This account has not been activated by administrators.</p>
	{% else %}
	<p> Your old password was entered incorrectly. Please enter it again.</p>
	{% endif %}
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.password_change' %}">
{% csrf_token %}

{{form.as_p}}

<input type="submit" value="Login" />
<input type="hidden" name="next" value="{{ next }}" />

</form>

{% url 'django.contrib.auth.views.login' as login_page %}
	<a href="{{login_page}}"> Click here to cancel </a>	

</body>
</html>