<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <!-- Bootstrap includes -->
  <link href="{{STATIC_URL}}cases/css/bootstrap.css" rel="stylesheet" media="screen">
  <link href="{{STATIC_URL}}cases/css/custom.css" rel="stylesheet" media="screen">

</head>

<body>
<div class="row">
  <div class="text-center">
    <h1>{% block headerTitle %}{% endblock %}</h1>
   </div>
</div>

<!-- navbar urls -->

<!-- /navbar urls -->


{% block sidebar %}   
<!-- top-navigation -->    
<div class="row">
<div id="top-navigation">
    <div class="navbar">  
        <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a id="top-navigation-brand" href="#" class="navbar-brand">
                    {% block header %} {% endblock %}
        </a>      
           
            <div class="nav-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                	<li id="home-tab"><a href="{% url 'home' %}">Summary</a></li>
                    <li id="login-tab"><a href="{% url 'login' %}">Login</a></li>
                    <li id="registration-tab"><a href="{% url 'registration' %}">Registration</a></li>
                    <li id="reset-tab"><a href="{% url 'reset' %}">Forgot Password</a></li>
                    <li id="contact_us-tab"><a href="{% url 'contact_us' %}">Contact Us</a></li>
                </ul>
            </div>          
        </div>  
    </div>
</div> <!-- /#top-navigation -->
</div>   
 
{% endblock %}
    

<div class="row">
    <div class="col-offset-1 col-lg-10 col-sm-10 col-12">
        {% if messages %} 
            {% for message in messages %} 
            <div id='messages' class="{{message.tags}}">
              <p>{{message}}</p> 
            </div>
            {% endfor %} 
        {% endif %} 
    </div>
</div>

<!-- this is breaking the dynatree if it is included anywhere else
must be fixed... 
 -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<div class="container">
<div class="row">
	<div class="col-lg-12 col-12">
	{% block content %}
	
	{% endblock %}
	</div>
</div>
</div>


{% block endbody %}
{% endblock %}

<div class="endbody-padding"></div>
<script src="{{STATIC_URL}}cases/js/bootstrap.min.js"></script>

<script type="text/javascript">
	var pathname = window.location.pathname.split('/').filter(function(v){return v!==''});
	var cur_page = pathname[pathname.length-1]+'-tab'
	$('#'+cur_page).addClass('active');
</script>

</body>
</html>