<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <!-- Bootstrap includes -->
  <link href="{{STATIC_URL}}cases/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="{{STATIC_URL}}cases/css/custom.css" rel="stylesheet" media="screen">

</head>

<body>
<div class="row">
  <div class="text-center">
    <h1>GeneYenta Summary</h1>
   </div>
</div>

<!-- navbar urls -->

<!-- /navbar urls -->


{% block sidebar %}   
<!-- top-navigation -->    
<div class="row">
<div id="top-navigation">
    <div class="navbar">  
        <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a id="top-navigation-brand" href="#" class="navbar-brand">
                    {% block header %} {% endblock %}
        </a>      
           
            <div class="nav-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li id="matches-tab"><a href="">Login</a></li>
                    <li id="cases-tab"><a href="">Registration</a></li>
                    <li id="archives-tab"><a href="">Forgot Password</a></li>
                    <li id="settings-tab"><a href="">Contact Us</a></li>
                </ul>
            </div>          
        </div>  
    </div>
</div> <!-- /#top-navigation -->
</div>   
 
{% endblock %}
    

<div class="row">
    <div class="col-offset-1 col-lg-10 col-sm-10 col-12">
        {% if messages %} 
            {% for message in messages %} 
            <div id='messages' class="{{message.tags}}">
              <p>{{message}}</p> 
            </div>
            {% endfor %} 
        {% endif %} 
    </div>
</div>

<!-- this is breaking the dynatree if it is included anywhere else
must be fixed... 
 -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<div class="container">
{% block content %}

{% endblock %}
</div>


{% block endbody %}
{% endblock %}

<div class="endbody-padding"></div>
<script src="{{STATIC_URL}}cases/js/bootstrap.min.js"></script>


</body>
</html>