{% extends 'registration/base.html' %}

{% block title %}GeneYenta Summary{% endblock %}
{% block headerTitle %}GeneYenta Summary{% endblock %}

{% block content %} 
GeneYenta is a tool for clinicians to make connections to share genetic data by being matched using phenotype data. GeneYenta aims to create a portal for clinicians to enter phenotypic case data for individuals who have had exome sequencing without a genetic diagnosis. Cases are given a phenotypic match score to other entered cases for comparison. This gives clinicians an opportunity for international collaboration and exome comparison in order to link unrelated individuals with similar phenotypes. This tool is created to break down existing barriers to case matching and validation of exome data. This platform aims to facilitate the discovery of rare disease genes and the diagnosis of patients with similar genetic disease.

{% endblock %}

{% block endbody %}

<script src="{{ STATIC_URL }}cases/dynatree/jquery/jquery.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}cases/js/bootstrap.js"></script>
<script src="{{STATIC_URL}}cases/js/sorttable.js"></script>



{% endblock %}

