{% extends 'registration/base.html' %}

{% block title %}GeneYenta Summary{% endblock %}
{% block headerTitle %}GeneYenta Summary<div class="pull-right" style="color:red;font-size:19px;width:322px;">Warning: This site is not secure. Please use with caution.</div>{% endblock %}

{% block content %} 
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

{% endblock %}

{% block endbody %}

<script src="{{ STATIC_URL }}cases/dynatree/jquery/jquery.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}cases/js/bootstrap.js"></script>
<script src="{{STATIC_URL}}cases/js/sorttable.js"></script>



{% endblock %}

