
{% extends 'registration/base.html' %}

{% block title %}GeneYenta Login page{% endblock %}


{% block content %}
<div class="row">
	<div class="col-lg-11 col-offset-1 col-12">


		{% if form.errors %}
			{% if not user.is_active %}
			<p> This account has not been activated by administrators.</p>
			{% else %}
			<p> Your username and aaaaaaaaaaaaaaaaaaaaaaaaaa didn't match. Please try again.</p>
			{% endif %}
		{% endif %}

		<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
		{% csrf_token %}
		<table>
		<tr>
		    <td>{{ form.username.label_tag }}</td>
		    <td>{{ form.username }}</td>
		</tr>
		<tr>
		    <td>{{ form.password.label_tag }}</td>
		    <td>{{ form.password }}</td>
		</tr>
		</table>
<input type="submit" value="Login" />
<input type="hidden" name="next" value="{{ next }}" />

</form>


	{% url 'django.contrib.auth.views.password_reset' as reset_page %}
	<a href="{{reset_page}}">NEEDS FIXING: Forgot your password? Click here to reset it. </a>
</br>
	<a href="{% url 'registration' %}"> Click here to register </a>

</div>
</div>

{% endblock %}
